header h1{
    color: rgb(117, 129, 221);
    margin: 0;
    padding: 0;
    text-align: center;
}
*{
    font-family: 'Times New Roman', Times, serif;
}

<style>
    h1{
        color: rgb(246, 102, 102);
        font-size: 30px
        text-align: center;}

        nav ul li a{
            text-decoration: none;
        }
        nav ul{
            list-style: none;
        }
        nav{
            color: rgb(156, 78, 78);
            font-size: 50px
            text-align:center;}
        nav{
            background-color: rgb(209, 217, 66);
            padding: 10px;
            text-align:left;
            margin: 20;
        }
</style>
header{
    background-color: rgb(181, 66, 66);
    font-style: initial;
    padding: 20px;
    text-align: center;
}

.navegador ul li a{
    color: rgb(226, 59, 59);
    font-size: 20px;
    padding: 20px;
    list-style:none;
}
.portada{
    background-image: url(../multimedia/img/OIP.jpg);
    background-size: cover
    width: 100%;
    height: 400%;
    margin: 0;
    padding: 0;
    text-align: center;
}

main h2{
    color: rgb(210, 54, 54);
    font-style: italic;
    font-size: 30px
}
main div{
    width: 250px;
    height: 450px;
    border: 3px solid rgb(14, 12, 12);
    padding: 50px;
    margin: 10%;
    color: rgb(7, 6, 6);
    font-size: 20px;
    text-align: center;
}

main h4{
    text-align: center;
    font-size: 30px;
    font-weight:600;
    padding: 10px;
    color: rgb(210, 54, 54);
}
.Fondo-instrumentos{
    width: 200px;
    height:100px;
    object-fit: cover;
}
.border-redondiado{
    border-radius: 10%;
}