<style>
    h1{
        color: rgb(12, 12, 12);
        font-size: 50px
        text-align:  center;
        }
        nav{
            color: rgb(225, 17, 17);
            font-size: 200px
            text-align:center;
        }
        nav
    {
        background-color: rgb(134, 179, 223);
    }
</style>


.imag-instrumentos
{
    width: 500;
    height: 500;
    object-fit: cover;
}

h2
{
    color: rgb(2, 2, 7);
    font-size: 50px
    text-align:  center;
}
div 
{
    color: rgb(0, 0, 0);
    font-size: 50px
    text-align:  center;
}
</style>