* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  @import "variables";
  @import "navegador";
  @import "encabezado";
  @import "row";
  @import "navbar";
  @import "productos";
  @import "footer";
  
  /*------Navegador-----------*/

  .inst {
    color: rgb(35, 15, 133);
    margin: 2px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .inst {
    color: rgb(27, 25, 151);
    font-size: 4rem;
    letter-spacing: 5px;
    text-shadow: 4px 4px 5px #6013e5;
    animation: flotar 3s linear infinite alternate;
  }
  
  .navegador h1 {
    font-family: "Times New Roman", Times, serif;
  }
  
  .navegador {
    background-color: rgb(244, 244, 244);
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 5px;
  }
  
  .navegador ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: end;
  }
  
  .navegador ul li a {
    color: rgb(10, 38, 197);
    display: block;
    text-decoration: none;
    display: block;
    padding: 5px;
    text-align: center;
    justify-content: center;
    align-items: safe;
  }
  .navegador .fa-bars{
    display:none
  }
  
  @media(max-width: 768px) {
    .navegador .fa-bars{
      display: block;
      margin:10 px;
      font-size:30px ;
      color: rgb(39, 11, 196) ;
      order: -1; 
    }
    .navegador .fa-bars:hover + ul {
      left: 0; 
    }
    .navegador ul{
        position:fixed
        top 0;
        left: -300px;
        width: 350vw;
        height: 50vh;
        background-color: rgb(244, 244, 244);
        flex-direction: column;
        align-items: center;
        margin-top: 50px;
        transition: left 0.5s;
      }
      .navegador ul :hover{
        left: 0;
      }
      .navegador ul li a{
        color: rgb(23, 23, 215);     
      }    
  }


  
  /*------Encabezado_index-----------*/

  .encabezado {
    background-image: url(../multimedia/img/musicos/pexels-snapwire-6966.jpg);
    width: 100%;
    height: 650px;
    margin: 0px;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-size:contain;
    font-family: "Times New Roman", Times, serif;
    color: rgb(23, 23, 215);
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 10px;
    text-align: center;
  }
  .cabe-texto {
    font-size: 10px;
    font-weight:bold;
    margin: 10%;
    padding: 10px;
    text-align: center;
    justify-content:center;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 10px;  
  }
  
  .encabezado .logo {
    width: 70px;
    height: 70px;
    object-fit: cover;
    margin: 5%;
    padding: 0px;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content:flex-end;
  }
  
  .nav {
    width: 100%;
    height: 50%;
  }
  /*------CLIENTES_COLUMNAS-----------*/

  .col-4 {
    flex: 0 0 auto;
    width: 33%;
    padding: 5px;
    margin: 1px;
    background-color: rgb(244, 244, 244);
    object-fit: cover;

  }
  .img .col-4 {
    flex: 0 0 auto;
    width: 33%;
    padding: 5px;
    margin: 1px;
    background-color: rgb(244, 244, 244);
    object-fit: cover;
  }

  /*------body_Card_ventas-----------*/
  
  .ventas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  
  .card .card {
    width: 90%;
    height: 250px;
    object-fit: cover;
    margin: 5%;
    padding: 5px;
  }
  
  .card .venta-titulo {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
  }
  
  .card .venta-text {
    font-size: 15px;
    text-align: center;
    margin: 5%;
    padding: 10px;
  }
  
  .boton {
    margin: 5px;
    padding: 5px;
    border: 0px;
    border-radius: 20   px;
    background-color: #132eb8;
    color: white;
    font-size: larger;
    font-weight: bold;
    padding: 10px;
    margin: 0px;
  
  }

  .boton:hover{
      -webkit-animation: 0.7s 
     flash 1;
  }
  
      @-webkit-keyframes flash{
      50%{
        opacity: 1;
      }
      25%, 75%{
        opacity: 0;
      
    }
}
  

  /*------body_Portada-----------*/

  .portada {
    background-image: url(../multimedia/img/musicos/pexels-snapwire-6966.jpg);
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 50;
    text-align: center;
    background-size: cover;
  }
  
  .navbar bg-body-tertiary {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
  }
  
  .c-item{
    height: 480px;
  }
  
  .c-img{
    height: 100%;
    object-fit: cover;
    filter: brightness(0.6);
  }

  /*------body_Productos-----------*/

  .productos {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .producto {
    width: 290px;
    border: 2px solid #0f1d8b;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .producto h4 {
    font-size: 20px;
  }
  
  .producto p {
    margin-bottom: 15px;
    font-size: 15px;
    text-align: justify;
    text-justify: inter-word;
  }
  
  .producto img {
    width: 100%;
    height: 150px;
    object-fit: cover;
  }
  
  .producto button {
    background-color: #0e64bf;
    color: white;
    padding: 10px 25px;
    border: 0px;
    border-radius: 5px;
    position: absolute;
    bottom: -20px;
    right: 20px;
  }
  .imagen{
    width: 60%;
    height: 300px;
    object-fit: cover;
    margin: 2%;
    padding: 5px;
    background-size: cover;
  }
  .img .texto_compras{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin: 5%;
    padding: 10px;
    text-align: left;
    justify-content:right
  }
 



  /*------footer-----------*/
  
  .pie-de-pagina {
    background-color: rgb(246, 245, 250);
    color: rgb(37, 27, 157);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin: 5px;
  }
  
  .info-empresa {
    margin: 2px;
    padding: 5px;
    background-color: rgb(246, 245, 250);
    color: rgb(37, 27, 157);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 80px;
  }
  
  .redes-sociales {
    font-size: 40px;
    margin: 5px;
    padding: 5px;
    background-color: rgb(246, 245, 250);
    color: rgb(37, 27, 157);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  
  @media(max-width: 768px) {
    .pie-de-pagina .info-empresa {
      grid-template-columns:2fr 2fr;
      margin: 5px;
      padding: 5px;
      display: flex;
      flex-direction: column;
      justify-content:left;
      align-items: center;
      flex-direction: row;
    }
    
  }

  /*------Formulario-----------*/
  
  .form-contenedor{
    grid-template-rows: 100px;
    justify-content: center;
    margin: 0px 0px 0px 0px;
    padding: 10px;
    background-image: url(../multimedia/img/pianos/pexels-bryan-geraldo-586415.jpg) ;
    background-size: cover;
    border: 5px solid rgb(236, 236, 241);
    border-right:-1px;
    border-left:-1px;
    border-radius: 1px;
    text-align: center;
  }
  .form-info{
    background-image:url(../multimedia/img/pianos/pexels-bryan-geraldo-586415.jpg) ;
    background-size: cover;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content:flex-end;
    border-bottom-left-radius: 1px;
    color: rgb(246, 247, 249);
    font-size: small;
    font-family: "times new roman", times, serif;
    text-align: center;
    padding: 30px;
  }
  
  .Registro {
    border: 5px solid #1a22bb;
    border-top-left-radius: 1px;
    text-align: center;
    font-size: 18px;
    background-image: url(../multimedia/img/musicos/pexels-snapwire-6966.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 50%;
    height: 650px;
    gap: 10px;
    padding: 50px;
    margin:0px;
    font-family: "times new roman", times, serif;
    color:solid rgb(21, 21, 135);
  }
  
  .form-Registro input{
    border:2px solid rgb(21, 21, 135);
    padding:10px 20 px;
    border-radius: 5px;
    font-size: 20px;
  }

  .titulo_1 {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin: 2%;
    padding: 8px;
    background-color: #132eb8;
    color: white;
    border-radius: 5px;
    font-family: "times new roman", times, serif;
    color:solid rgb(21, 21, 135);
  }
  
  .contacto {
    border-radius: 1%;
    text-align:end;
    font-size: 20px;
    background-image: url(../multimedia/img/musicos/pexels-snapwire-6966.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 650px;
    gap: 10px;
    padding: 50px;
    margin:0px;
    font-family: "times new roman", times, serif;
    color:solid rgb(21, 21, 135);
    font-size: 16px;
    background-size: cover;
    width: 50%;
    height: 490px;
    flex-direction:column;
    gap: 20px;
    text-align:center;
    padding: 10px;
    margin: 10px; 
  }
  .mapa{
    width: 25%;
    height: 25%;
    margin: 10px;
    padding: 10px;
    background-size: cover;
    display: flex;
    align-items: center;
    columns: rgb(21, 21, 135);
  }
  
  /*# sourceMappingURL=style.css.map */
  
  